
<div class="sidebar-wrapper">
  <div class="logo" style="height: 74px;">
    <a class="simple-text logo-mini" style="justify-content: center;
    display: flex;
    width: 100%;">
      <div class="logo-image-large" style="width: 125px !important;">
        <img src="assets/img/a1.jpg" style="
        margin-top: -20px; height:90px;">
      </div>
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
